
/*Mobile*/

@font-face {
    font-family: texto;
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
    font-family: texto;
  }
  
  /* Header */
  
  header {
    padding: 1.5rem 1rem 0 1rem;
  }
  
  .logo {
    width: 4rem;
  }
  
  .logo img {
    height: 100%;
    width: 100%;
  }
  
  .menu {
    display: none;
  }
  
  /* Main */
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  
  /* Section 1 */
  
  .section1 {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .imgSection1 {
    width: 100%;
  }
  
  .imgSection1 img {
    width: 100%;
  }
  
  .section1 button {
    background-color: salmon;
    border: none;
    color: #fff;
    padding: 10px 25px;
  }
  
  /* Section 2 */
  
  .section2 {
    background-color: rgb(0, 0, 70);
    color: #fff;
    margin-top: 2rem;
    padding: 1rem;
  }
  
  .section2 h1 {
    color: coral;
    margin-bottom: 1rem;
  }
  
  hr {
    margin: 1rem 0;
  }
  
  /* Section 3 */
  
  .section3 {
    margin-top: 1rem;
  }
  
  .content-3 {
    display: flex;
    height: 10rem;
    margin-bottom: 1rem;
  }
  
  .imgContent {
    height: 100%;
    padding: 0.5rem;
  }
  
  .imgContent img {
    height: 100%;
  }
  
  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
    /* Desktop*/
  
  @media screen and (min-width: 680px) {
    main {
      display: flex;
      padding: 0 5rem;
      margin-top: 2rem;
    }
    header {
      display: flex;
      justify-content: space-between;
    }
    .menu {
      display: block;
      display: flex;
      align-items: center;
    }
  
    .menu ul {
      display: flex;
      list-style: none;
    }
    .menu li {
      margin-left: 1rem;
    }
  
    /* section 1 desktop*/
  
    .section1Desktop {
      display: flex;
    }
  
    /* section 1 */
    .section1 {
      padding: 0;
      margin-right: 1rem;
    }
    .imgSection1 {
      height: 20rem;
      overflow: hidden;
    }
  
    .textSection1 {
      display: flex;
      margin-top: 1rem;
    }
  
    .textSection1 h1,
    .textSection1 div {
      width: 50%;
    }
  
    .textSection1 h1 {
      font-size: 3vw;
    }
  
    .section1Desktop .section1 {
      width: 70%;
    }
  
    .section1Desktop .section2 {
      width: 30%;
    }
  
    /* section 2 */
  
    .section2 {
      margin: 0;
    }
  
    /* Section 3 */
  
    .section3 {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
    }
  
    .content-3 {
      width: 30%;
    }
  }